/* Custom Fonts */

@font-face {
    font-family: circular-black;
    src:url("../fonts/CircularStd-Black.otf");
}
@font-face {
    font-family: circular-black-italic;
    src:url("../fonts/CircularStd-BlackItalic.otf");
}
@font-face {
    font-family: circular-bold;
    src:url("../fonts/CircularStd-Bold.otf");
}
@font-face {
    font-family: circular-bold-italic;
    src:url("../fonts/CircularStd-BoldItalic.otf");
}
@font-face {
    font-family: circular-book;
    src:url("../fonts/CircularStd-Book.otf");
}
@font-face {
    font-family: circular-book-italic;
    src:url("../fonts/CircularStd-BookItalic.otf");
}
@font-face {
    font-family: circular-medium;
    src:url("../fonts/CircularStd-Medium.otf");
}
@font-face {
    font-family: circular-medium-italic;
    src:url("../fonts/CircularStd-MediumItalic.otf");
}

/* CSS */
.logo{
    max-width:100%;
    max-height:100%;
}
.logo-container{
    height: 100%;
}

#menuOpen{
    animation: fadein 0.5s;
}
#menuClose{
    display: none;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#navBlock{
    height: calc(100vh - 4rem);
    font-family: circular-black;
    line-height: 2.5;
    background-color: white;
    display: none;
    animation: fadein 1s;
}

.plizDot{
    color: #53B7B3;
}

.formBorder{
    border-bottom: 1px solid rgb(173, 173, 173);
}

#firstEmail{
    width: 90%;
}